* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-montserrat;
  background-color: $blue-bold;
}

input {
  font-family: $font-montserrat;
}

a {
  text-decoration: none;
  color: $blue;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: $container-width;
  padding: 0 15px;
  margin: 0 auto;
}

.app-container {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 860px;
    background: url($image-path + 'backgrounds/landing-page.png') bottom;
    background-size: cover;
    z-index: -1;
  }
}
