/* ============ Settings ============ */
$container-width: 1100px;
$image-path: '../images/';

/* ============ Fonts ============ */
$font-montserrat: 'Montserrat', sans-serif;;

/* ============ Colors ============ */
$blue-bolder: #151c46;
$blue-bold: #1d244d;
$blue-semi-bold: #3a447a;
$blue-thick: #2a3261;
$blue: #1db1ff;
$blue-light: #3dbeff;
$red: #f9566d;
$red-light: #fff3f3;
$purple-soft: #7e90b5;
$purple-light: #b4b4e6;
$grey: #caccd9;
