.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: 999;
  overflow: auto;
  transition: all .3s;

  &--active {
    visibility: visible;
    opacity: 1;

    .modal {
      pointer-events: visible;

      &__content {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
      }
    }
  }
}

.modal {
  width: 90%;
  max-width: 440px;
  max-height: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  z-index: 1000;
  pointer-events: none;

  &__content {
    margin: 10px 0 50px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.7);
    border-radius: 10px;
    box-shadow: 0 22px 44px 0 rgba(0, 0, 0, 0.4);
    transition: transform .3s;
  }

  &__header {
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #4a5675;
    text-transform: uppercase;

    &--error,
    &--broadcasted,
    &--success {
      text-transform: initial;

      &::before {
        content: '';
        width: 40px;
        height: 40px;
        display: block;
        margin-right: 10px;
        background-size: contain;
      }
    }

    &--error {
      color: $red;

      &::before {
        background-image: url($image-path + 'icons/circle-error.svg');
      }
    }

    &--broadcasted::before {
      background-image: url($image-path + 'icons/circle-broadcasted.svg');
    }

    &--success::before {
      background-image: url($image-path + 'icons/circle-success.svg');
    }
  }

  &__body {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7;
    text-align: center;
    color: #727b8f;

    &-top {
      padding: 25px 35px;
      background-color: #f5f5f5;
    }

    &-bot {
      padding: 25px 35px;
    }

    &--left {
      text-align: left;
    }
  }

  &__footer {
    padding: 25px 30px;
    box-shadow: 0 -6px 12px 0 rgba(0, 0, 0, 0.03);
  }

  &__button {
    padding: 13px 20px;
    width: 100%;
    max-width: 160px;
    border-radius: 27px;
    border: solid 1px #dedede;
    font-size: 14px;
    font-weight: 500;
    color: #80849c;
    cursor: pointer;
    transition: all .3s;

    &--gradient {
      color: white;
      background: linear-gradient(to bottom, #36cef9, #279df4) 0 100%;
      background-size: auto 150%;

      &:hover {
        background-position: 0 0;
      }
    }

    &:hover {
      color: white;
      background-color: $blue-light;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
