.about-us {
  background-color: #242b57;

  &__header {
    padding: 30px 0 10px 0;

    &-who-we-are {
      height: 29px;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      color: #e4e7fd;
      margin: 10px auto 10px auto;
    }

    &-who-we-are::after {
      clear: both;
    }

    &-description {
      margin: 0 auto;
      width: 538px;
      height: 58px;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #aab1d4;
    }
  }

  &__team-members {
    &_team-team {
      width: 15%;
    }
  }
  
  &__team-members {
    width: 80%;
    margin: 30px auto 10px auto;
    text-align: center;
  }

  &__team-member {
    width: 22%;
    display: inline-block;
    vertical-align: top;
    margin: 0 4% 50px 0;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 0.5s forwards;


    &-avatar {

      display: inline-block;
      margin: 0 auto 15px;
      width: 103px;
      height: 103px;
      border-radius: 50%;
      position: relative;
      background: center no-repeat;
      background-size: cover;

      &--bio {
        cursor: pointer;
      }

      &::after {
        color: #fff !important;
        content: 'Read Bio';
        font-size: 14px;
        font-weight: 600;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
        position: absolute;
        background: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all .3s;

      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
    
    &-name {
      height: 19px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      color: #aab1d4;
      margin: 15px 0;
    }

    &-title {
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: #7a82a9;
    }
  }

  &__team-member:nth-child(4n+1) {
    margin-right: 0;
  }

  &-modal {
    max-width: 50% !important;

    &-header {
      display: inline-block;
      position: relative;

      .img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-size: cover;
        box-shadow: 0 1px 3px rgba(0,0,0,0.21), 0 6px 13px rgba(0,0,0,0.11);
      }

      .title {
        height: 19px;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        color: #aab1d4;
        margin: 15px 0;
        width: 100%;
        margin-top: 20px;
      }

      .sub-title {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #7a82a9;
        text-transform: none;
      }
    }

    &-body {
      text-align: left;
      color: #212529;
      line-height: 1.7;
    }
  }
  
  @media (max-width: $large-breakpoint) {
    &-modal {
      max-width: 60% !important;
    }
  }

  @media (max-width: $medium-breakpoint) {
    &__team-member {
      width: 28%;
    }

    &-modal {
      max-width: 70% !important;
    }
  }

  @media (max-width: $small-breakpoint) {
    &__team-member {
      width: 45%;
    }

    &-modal {
      max-width: 80% !important;
    }
  }
}

.advisor {
  background-color: #1d244d;
}