.commingsoon {
    .container {
        .body__content{
            margin: 0 auto;
            width: 100%;
            text-align: center;

            .body__title {
                font-family: Montserrat;
                font-size: 30px;
                font-weight: 500;
                color: #ffffff;
                margin: 100px 0 0 0;
                padding-bottom: 20px;
            }
            .body__title::before {
                background-color: inherit;
            }
        }
    }
}