.commingsoon {
    height: 720px;
    align-items: center;
    display: flex;

    .container {
        width: 100%;

        .body__content{
            margin: 0 auto;
            width: 100%;
            text-align: center;

            .body__title {
                font-family: Montserrat;
                font-size: 30px;
                font-weight: 500;
                color: #ffffff;
            }
            .body__title::before {
                background-color: inherit;
            }

            .body__countdown_wrap {
                .body__countdown {
                    width: 80%;
                    margin: 30px auto 10px;
                    text-align: center;

                    &_item {
                        width: 22%;
                        display: inline-block;
                        vertical-align: top;
                        margin: 15px 1.5% 40px;
                        opacity: 0;
                        -webkit-transform: translateY(20px);
                        transform: translateY(20px);
                        -webkit-animation: fade-in .5s forwards;
                        animation: fade-in .5s forwards;
                        
                        &_box {
                            margin: 0 auto;
                            display: flex;
                            align-items: center;
                            width: 160px;
                            height: 200px;
                            border-radius: 16px;
                            box-shadow: 0 14px 48px 0 rgba(1, 1, 1, 0.41);
                            background-image: linear-gradient(to bottom, #43508e, #313b6e);

                            &_number {
                                width: 100%;
                                text-align: center;
                                font-family: Roboto;
                                font-size: 64px;
                                font-weight: 500;
                                color: #ffffff;
                            }
                        }

                        &_unit {
                            margin-top: 30px;
                            height: 24px;
                            font-family: Montserrat;
                            font-size: 20px;
                            font-weight: 500;
                            text-align: center;
                            color: #ffffff;
                        }
                    }
                }
            }

            @media (max-width: $large-breakpoint) {
                .body__title {
                    font-size: 24px;
                }

                .body__countdown_wrap {
                    .body__countdown {
                        width: 100%;
                        margin: 30px auto 10px;
                        text-align: center;
    
                        &_item {
                            &_box {
                                width: 100px;
                                height: 130px;
                                &_number {
                                    font-size: 40px;
                                }
                            }
    
                            &_unit {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }

            @media (max-width: $small-breakpoint) {
                .body__title {
                    font-size: 18px;
                }

                .body__countdown_wrap {
                    .body__countdown {
                        width: 100%;
                        margin: 10px auto 0px;
                        text-align: center;
    
                        &_item {
                            margin: 15px 1% 10px;

                            &_box {
                                width: 70px;
                                height: 100px;
                                &_number {
                                    font-size: 30px;
                                }
                            }
    
                            &_unit {
                                font-size: 13px;
                            }
                        }
                    }
                }
                
            }
        }
    }

}


@media (max-width: $large-breakpoint) {
    .commingsoon {
        height: calc(100vh - 220px) !important;
    }
}

@media (max-width: $medium-breakpoint) {
    .commingsoon {
        height: calc(100vh - 290px) !important;
    }
}

@media (max-width: $small-breakpoint) {
    .commingsoon {
        height: calc(100vh - 290px) !important;
    }
}

@media (max-width: $smaller-breakpoint) {
    .commingsoon {
        height: calc(100vh - 320px) !important;
    }
}

@media (max-width: $smallest-breakpoint) {
    .commingsoon {
        height: 270px !important;
    }
}
